OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=ecommerce-helper
ECOMMERCE_DB_PATH=ecommerce.db
ECOMMERCE_CHART_DIR=charts

# Dameion NOTE: wasn't sure if we just using OpenAi or Anthropic so i put this here for us